<form action="">
    <div class="form-group">
        <label for="description">Documents</label>
        <input type="file" class="form-control" name="files" id="files" value="{{files}}" multiple="multiple">
    </div>
</form>